@import "./src/colors.scss";

.principal-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100vh;
}

.profile-container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 80vh;
  border-radius: 32px 32px 0px 0px;
  padding-right: 13px;
}

.file-input-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $grey;
  padding: 10px;

  .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.user-details {
  display: flex;
  justify-content: center;
  align-items: center; 
  border-bottom: 1px solid $blue;
  padding: 30px 0px 20px 0px;
}

.profile-image-container {
  margin-left: 23px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey;
}

.profile-container h2 {
  margin: 0;
  padding-left: 80px;
  font-size: 21px;
  font-weight: bold;
  color: $texto;
  text-align: center;
}

label {
  margin-left: 20px;
  display: block;
  margin-bottom: 5px;
  color: $neutro;
}

input[type="text"] {
  width: 80%;
  margin-left: 20px;
  height: 13px;
  padding: 8px;
  border: 1.5px solid $neutro;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 20px;
  color: $neutro;
}

button {
  margin-top: 80px;
  margin-bottom: 55px;
  margin-left: 50px;
  padding: 5px 26px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: $white;
  background-color: $blue;

  cursor: pointer;
}
.button2 {
  background-color: $blue;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.view2 {
  border-bottom: 1.8px solid $blue;
}

.label-input-container {
  display: flex;
  align-items: center;
}

.label-input-container label {
  margin-right: 88px;
  color: $texto;
  font-size: 16px;
}

.select-input {
  width: 50%;
  height: 28px;
  border-color: $neutro;
  margin: 5px;
}

.link-home {
  margin-top: 80px;
  margin-bottom: 55px;
  margin-left: 50px;
  padding: 5px 26px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: $white;
  background-color: $blue;
  cursor: pointer;
}
