@import "./src/colors.scss";



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: $blue;

  &.logo-container-active {
    
    background-color: $white;
  }
}

.logo-container{
  color: $white;
  padding-top: 200px;
  animation: fadeIn 1s ease-in-out;
}

.bottom-quote{
  color: $neutro;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
  font-size: 20px;
}



.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  animation: fadeIn 1.6s ease-in-out;
}


@media (max-width: 768px) {
  .login-container {
    padding-left: 0;
  }
}

.logo {
  padding-bottom: 18px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-group {
    margin-bottom: 10px;
  }

  input {
  
    width: 320px;
    padding: 10px;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 23px;
  }
  .email-input{
    background-image: url('../../assets/icons/user\ \(1\).png');
    background-repeat: no-repeat;
    background-position: 10px center;
text-align: center;   
  
  }
  .pass-input{
    background-image: url('../../assets/icons/lock.png');
    background-repeat: no-repeat;
    background-position: 10px center;
text-align: center;   
  
  }

  button {
    width: 140px;
    height: 40px;
    padding: 10px 30px;
    background-color: $white;
    color: $blue;
    border: none;
    border-radius: 5px;
    margin-left: 163px;
  }

  .recuperar {
    color: #ffffffff;
    font-size: 17px;
    padding-bottom: 18px;
    padding-right: 155px;
  }

  .login-button {
    display: flex;
    align-items: center;
    background-image: url('../../assets/icons/arrow.jpg');
    background-repeat: no-repeat;
    background-position: 100px center;
    border-radius: 10px;
    height: 45px;
    background-color: #ffffffff;
    font-size: 20px;
    padding-left: 20px;
  }
}
