
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .fondo {
    position: relative;
    width: 100%;
    height: 66.66vh;
    z-index: 1;
  
    .imagen-fondo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      color: white;
      background-color: rgba(0, 0, 0, 0.2);
  
      .tags {
        display: flex;
        gap: 10px;
      }
  
      .tag {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 5px 10px;
        border-radius: 20px;
      }
    }
  }
  
  .texto {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33.33vh;
    background: #f1f1f1;
    border-radius: 32px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    color: black;
    transition: height 0.3s ease;
    z-index: 2;
  
    &.expanded {
      height: 66.66vh;
    }
  
    .expand-button {
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 20px;
      cursor: pointer;
      border-radius: 5px;
    }
  
    p:first-child {
      font-size: small;
      margin-bottom: 10px;
    }
  }
  